:root{ 
    --pic: url('https://cdn.discordapp.com/avatars/1162922822096650280/a1d2a8df9411f6334e09f480adcc58b5.png');
}

#classPreviewCanvas {
  filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));
}

.leaderNameM {
   font-family: Georgia, serif;
}

#pollfishIndicator{display:none!important}
